@font-face {
	font-family: 'Oswald';
	src: url('path-to-font.woff2') format('woff2');
	font-display: swap;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* root selector for CSS color variables */

:root {
	/*day*/
	--dayText: #14213d;
	--dayBackground: #e0e4ee;
	--prime: #44567c;
	--accent: #ffc300;
	/*dark mode*/
	--drkText: #e0e4ee;
	--drkBackground: #14213d;
}




/* GLOBAL STYLES for fixed 1280 px screen*/
/* Hidden content for screen reader users - code from: https://webaim.org/techniques/css/invisiblecontent/ */
.sr-only {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

header,
main,
footer {
	width: 100%;
	margin: 0 auto;
}

html {
	background-color: var(--prime);
}

/*dark mode*/
body.dark-mode {
	background-color: var(--drkBackground);
	color: var(--drkText);
}

body.dark-mode #heading {
	color: var(--drkText);
	font-size: .8rem;
	margin-bottom: 0;
}

#toggleMode {
	height: 100px;
	width: 100px;
}

#heading {
	color: var(--drkText);
	font-size: .8rem;
	margin-bottom: 0;
}

#mode {
	margin-top: 0;
	cursor: pointer;
}

#toggleMode {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0;
	z-index: 1;
}

/*body styles for page in light mode*/
body {
	width: 1280px;
	background-color: var(--dayBackground);
	color: var(--dayText);
	margin: 0 auto;
	line-height: 1.5;
	font-family: "Oswald", sans-serif;
	font-style: normal;
	box-sizing: border-box;
	transition: background-color 0.3s ease, color 0.3s ease;
}


/*font styles*/
h1,
h2,
h3,
h4 {
	text-align: center;
	font-weight: bold;
}

h1 {
	align-self: center;
	font-size: 4rem;
	font-weight: 700;

}

h2 {
	margin: 1rem 0;
	font-size: 4rem;
	font-weight: 800;
	padding: 5px;
	margin: 0.75rem;
}

h3 {
	font-size: 3rem;
	margin: 0.5rem;
}

h4 {
	font-size: 1.8rem;
	margin: 0.35rem;
}

p {
	font-size: 2rem;
	font-weight: 500;
	text-align: center;
	max-width: 65ch;
	padding: 2px;
	margin: 0 auto;
}

/* ----- IMAGES ----- */
img {
	display: block;
	margin: 0 auto;
}


/* button styles*/
button {
	background-color: var(--accent);
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	font-weight: 600;
	border-radius: 8px;
	width: 250px;
}

button,
input[type="submit"] {
	display: block;
	padding: 1.1rem;
	background-color: var(--accent);
	color: var(--dayText);
	border: none;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:hover {
	background-color: #f8ca24;
	filter: drop-shadow(8px 8px 4px #777);
	transition: background-color 0.3s ease, filter 0.3s ease;
}

/*header styles*/
header {
	position: relative;
	background-color: var(--drkBackground);
	color: var(--drkText);
	display: grid;
	grid-template-columns: 1fr 2fr 4fr;
	grid-gap: 0.5rem;
	padding-bottom: 20px;
}

header img {
	width: 130px;
	height: 100px;
	padding: 0.5rem;
}

/*Nav*/
header nav {
	align-self: end;
}

header nav ul {
	display: flex;
	justify-content: space-around;
	padding: 0px;
	margin: 0;
}

nav a {
	text-decoration: none;
	color: var(--drkText);
	font-size: 1.8rem;
	font-weight: 300;
	margin-right: 20px;
}

nav a:hover {
	background-color: var(--accent);
	color: var(--dayText);
	padding: 4px;
	border-radius: 6px;
	filter: drop-shadow(8px 8px 4px #777);
}

[href="#top"] {
	position: fixed;
	bottom: 0px;
	right: 0px;
	background-color: var(--drkBackground);
	color: var(--drkText);
	padding: 4px;
	border-radius: 6px;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/*Christmas Promo*/
#Christmas {
	/*background-color: var(--dayPrime);*/
	border: 4px solid var(--accent);
	padding-bottom: 30px;
}

#Christmas .currentItem {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 2fr;
	gap: 1rem;
	padding: 2rem;
}

.hiddenItem {
	display: none;
}

#christmasButtons {
	display: flex;
	justify-content: space-around;
	padding: 1rem;
}

#Christmas img {
	grid-row: 1/-1;
}

#Christmas h3 {
	grid-column: 2/-1;
	align-self: end;
}


/*Mountain bike section*/

#mtb-bikes {
	padding: 30px 0 30px 0;
}

#mtb-bikes .currentItem {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 2fr;
	gap: 1rem;
	padding: 2rem;
}

.hiddenItem {
	display: none;
}

#mtbButtons {
	display: flex;
	justify-content: space-around;
	padding: 1rem;
}

#mtb-bikes img {
	grid-row: 1/-1;
}

#mtb-bikes h3 {
	grid-column: 2/-1;
	align-self: end;
}

/*Road bike section*/
#rd-bikes {
	border: 4px solid var(--accent);
	padding: 30px 0 30px 0;
}

#rd-bikes .currentItem {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 2fr;
	gap: 1rem;
	padding: 2rem;
}

.hiddenItem {
	display: none;
}

#roadButtons {
	display: flex;
	justify-content: space-around;
	padding: 1rem;
}

#rd-bikes img {
	grid-row: 1/-1;
}

#rd-bikes h3 {
	grid-column: 2/-1;
	align-self: end;
}

/*Kids bike section*/
#kidsBikes {
	padding: 30px 0 30px 0;
}

#kidsBikes .currentItem {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 2fr;
	gap: 1rem;
	padding: 2rem;
}

.hiddenItem {
	display: none;
}

#kidsButtons {
	display: flex;
	justify-content: space-around;
	padding: 1rem;
}

#kidsBikes img {
	grid-row: 1/-1;
}

#kidsBikes h3 {
	grid-column: 2/-1;
	align-self: end;
}


/* Game -- roll double fours to win--*/

#game {
	text-align: center;
	margin: 20px auto;
	padding: 20px;
	border: 8px solid var(--accent);
	background-color: var(--prime);
	border-radius: 8px;
	width: 900px;
	box-sizing: border-box;
}

#diceContainer {
	display: flex;
	justify-content: center;
	gap: 20px;
	margin-bottom: 20px;
}

.diceBox {
	margin-top: 10px;
	width: 100px;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--drkBackground);
	border: 2px solid var(--accent);
	border-radius: 8px;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
	text-align: center;
}

.die {
	font-size: 2.5rem;
	font-weight: bold;
	color: var(--drkText);
}

#gamePlay {
	display: inline-block;
	margin: 20px auto;
	padding: 10px 20px;
	font-size: 1.5rem;
	cursor: pointer;
	background-color: var(--accent);
	border: none;
	border-radius: 6px;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
	text-align: center;
}


#sendItMsg {
	margin-top: 20px;
	font-size: 1.5rem;
	font-weight: bold;
	color: var(--dayText);
}

/* ----- Shopping----- */
#cart {
	margin-top: 2rem;
	padding-bottom: 20px;
	display: grid;
	grid-template-columns: 3fr 1fr;
	gap: 1rem;
}

#cart h2 {
	grid-column: 1/-1;
}

#cart img {
	max-width: 200px;
	max-height: 200px;
}

#products1 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 1rem;
}

#products1 p {
	width: fit-content;
	font-size: 1.1rem;
	padding: 0 0 1rem 0;
}

#products1 button,
#products1 p {
	margin: 0 auto;
}

#totals1 h3 {
	padding-bottom: 0.5rem;
	border-bottom: 1px solid var(--);
}

#totals1 ul {
	width: fit-content;
	margin: 0 auto;
	font-size: 1.2rem;
}

#totals1 li {
	margin: 0.5rem 0;
}

#itemsList1 li {
	padding-bottom: 0.25rem;
	border-bottom: 1px solid var(--dayText);
}

#totals1 button {
	font-size: 1.1rem;
	margin: 1rem auto;
}

/* form*/
#contact {
	border: 4px solid var(--accent);
	padding: 30px 0 30px 0;
}

#contact p {
	font-size: 1.8rem;
}

.asteriskInfo {
	font-size: 0.8rem;
	font-weight: 300;
}

form {
	width: 900px;
	margin: auto;
	padding: 1px;
	border-radius: 6px;
}

.required {
	color: red;
	font-size: 1.4rem;
	font-weight: bold;
}

/* ----- FORM CONTROLS ----- */
input,
label,
fieldset,
textarea {
	display: block;
	font-size: 1.3rem;
	width: 95%;
}

label {
	font-weight: bold;
	margin: 0 auto 1rem auto;
	width: calc(60% - 1rem);
}

fieldset,
input,
textarea {
	padding: 20px;
	margin: 0 auto 1rem auto;
	width: calc(60% - 1rem);
	font-size: 1.2rem;
	border-radius: 5px;
}

fieldset {
	margin: 0.5em auto;
	padding-bottom: 0.5em;
	width: 60%;
	border-radius: 4px;
	border: 1px solid var(--dayText);
	display: grid;
	grid-template-columns: 30px 1fr 30px 1fr;
}

legend {
	font-weight: bold;
}

fieldset label {
	display: inline;
	width: 60%;
	margin-left: 10px;
}

fieldset input {
	display: inline;
	width: 25px;
}

/*radio buttons*/
input[type="radio"] {
	margin-right: 30px;
	outline: none;
	border: 1px solid var(--dayText);
	border-radius: 30%;
}


/*submit button*/
input[type=submit] {
	width: 30%;
	cursor: pointer;
	font-weight: bold;
	font-size: 1.5rem;
}

input[type=submit]:hover {
	background-color: #ffc300;
	filter: drop-shadow(8px 8px 4px #777);
}

/*footer*/
footer {
	padding: 20px;
	/*color: var(--dayText);*/
}

/*@media (max-width: 768px) {
	body {
		width: 100%;
		font-size: 0.9rem;
	}

	#products1 {
		grid-template-columns: 1fr;
	}
}*/